<ng-shop-workspace-list-header-view></ng-shop-workspace-list-header-view>

<div class="container mx-auto py-10 px-5">
	<div class="text-primary font-bold text-2xl mb-6">
		Popular Plant <br />
		Among The People
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-8 lg:gap-14">
		<div *ngFor="let item of products$ | async">
			<ng-shop-workspace-product-item
				[product]="item"
				(AddToCartEvent)="addToCart($event)">
			</ng-shop-workspace-product-item>
		</div>
	</div>
</div>
