<div class="flex gap-3 items-center w-full max-w-[600px]">
	<img
		class="w-[200px] rounded-3xl max-sm:w-28 md:w-32"
		[src]="product.image"
		alt="plant"
	/>

	<div class="flex flex-col justify-between gap-3">
		<div>
			<p class="text-primary mb-2">{{ product.name }}</p>
			<p class="text-muted">{{ product.description }}</p>
		</div>

		<div class="flex justify-between items-center">
			<strong class="text-lg">{{ product.price | currency }}</strong>
			<button (click)="addToCart()" class="sh-icon-button" title="Add to Cart">
				<i-feather name="plus"></i-feather>
			</button>
		</div>
	</div>
</div>
