<!-- TODO: implement desktop VIEW -> HORIZONTAL -->

<div class="h-screen">
	<ng-shop-workspace-header-component
		[shouldShowBackIcon]="true"
		(clickBack)="onBack()"
	>
	</ng-shop-workspace-header-component>

	<div class="container mx-auto">
		<ng-container *ngIf="cartProducts$ | async as items">
			<div class="px-4 pb-5 flex flex-col">
				<div class="my-10" *ngIf="items.length">
					<p class="text-muted text-xl">
						checkout your products, and then proceed to the payment.
					</p>
				</div>

				<div class="flex flex-col items-center mt-12" *ngIf="!items.length">
					<img
						[src]="noItemFoundImagePath"
						aria-hidden="true"
						class="max-w-full w-[120px]"
					/>

					<div class="text-muted mt-5 text-center text-lg">
						<p>Oops! Seems like your cart is empty :(</p>
						<p>Add some items and come back here again.</p>
					</div>
				</div>

				<div class="flex flex-col overflow-y-auto" *ngIf="items.length">
					<ng-shop-workspace-checkout-item
						*ngFor="let item of items"
						[itemName]="item.name"
						[value]="item.price"
						[quantity]="item.quantity"
						[itemImage]="item.image"
						[total]="item.total"
						(deleteItem)="onDeleteItem(item.id)"
					>
					</ng-shop-workspace-checkout-item>
				</div>

				<button
					*ngIf="items.length"
					class="sh-btn-primary"
					title="Proceed to Payment"
				>
					Next
				</button>
			</div>

			<ng-shop-workspace-recommendation-list>
			</ng-shop-workspace-recommendation-list>
		</ng-container>
	</div>
</div>
